::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--color-focused);
    color: var(--color);
}

::-moz-placeholder { /* Firefox 19+ */
    color: var(--color-focused);
    color: var(--color);
}

#home-logo-rctc0comps:hover{
    fill: var(--color-focused);
    transition: 500ms;
}

#home-logo-rctc0comps{
    fill: var(--color);
    transition: 500ms;
}