::-webkit { /* Chrome/Opera/Safari */
    color: var(--hover-background-color);
    color: var(--click-background-color);
}

::-moz { /* Firefox 19+ */
    color: var(--hover-background-color);
    color: var(--click-background-color);
}

.c0-button {
    position: relative;
    width: 100%;
}

.c0-button:hover{
    background-color: var(--hover-background-color) !important;
    transition-duration: 350ms !important;
}

.c0-button:active{
    background-color: var(--click-background-color) !important;
}

