@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Quicksand&family=Raleway:wght@100&family=Rubik&family=Signika:wght@300;400&display=swap');


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--background-color);
    color: var(--title-color);
}

::-moz-placeholder { /* Firefox 19+ */
    color: var(--background-color);
    color: var(--title-color);
}

.content{
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

.article-content #article-title{
    font-family: 'Playfair Display', serif;
    color: var(--title-color);
    font-weight: bolder
}

.content section{
    width:900px;
    background-color: var(--background-color);
}

@media (max-width: 897px) {
    .content section{
        width: 100%;
        background-color: var(--background-color);
    }

}



