@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--background-color_navbar_rctc0comps);
}

::-moz-placeholder { /* Firefox 19+ */
    color: var(--background-color_navbar_rctc0comps);
}

.navbar-rctc0comps {
    display: flex;
    border: solid 1px var(--background-color_navbar_rctc0comps);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color_navbar_rctc0comps);
    height: 150px;
}

.navbar-rctc0comps .burger-button-rctc0comps{
    width: 150px;
    height: 100%;
}

.navbar-rctc0comps .home-element-navbar-rctc0comps{
    height: 100%;
}

.navbar-rctc0comps .home-element-navbar-rctc0comps{
    height: calc(100% - 10px);
    display: flex;
    align-items: center;
}

.dropdown-menu-navbar-rctc0comps.hidden{
    display: none;
}

.container-menu_navbar_rctc0comps{
    height: 100%;
}

