@import "../../colors/colors.css";

.lightA-div-sidebar {
    background-color: var(--color-lightA-background-0);
}

.lightA-button-sidebar
{
    width: 100%;
    border-radius: 0px;
    border: none;
    cursor: pointer;
    color: var(--color-lightA-text-0);
    font-size: 15px;
}

.lightA-icon-button-back
{
    width: 30px;
    height: 30px;
}
