::-webkit { /* Chrome/Opera/Safari */
    color: var(--placeholder-color);
    color: var(--help-text-username-color);
    color: var(--help-text-password-color);
    font-size: var(--placeholder-font-size);
    color: var(--eye-icon-color);
}

::-moz { /* Firefox 19+ */
    color: var(--placeholder-color);
    color: var(--help-text-username-color);
    color: var(--help-text-password-color);
    font-size: var(--placeholder-font-size);
}

.form-group {
    padding: 10px 0px!important;
    background-color: transparent !important;
}

.form-control::placeholder {
    color: var(--placeholder-color) !important;
    font-size: var(--placeholder-font-size) !important;
}

.form-control:focus::placeholder{
    color:transparent !important;
}

.text-muted {
    font-size: 12px !important;
}

#username-help-text {
    color: var(--help-text-username-color) !important;
}

#password-help-text {
    color: var(--help-text-password-color) !important;
}

.button-login {
    position: relative;
    border-radius: 20px !important;
    font-size: 15px;
    height: 35px;
    line-height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    transition-duration: 350ms !important;
}

.button-orientation-left {
    width: 25% !important;
    left: 75% !important;
}

.button-orientation-right {
    width: 25% !important;
    left: 0% !important;
}

.button-orientation-center {
    min-width: 100% !important;
    left: 0% !important;
}

.button-login:hover{
    border: solid 1px rgb(218, 220, 224) !important;
    background-color: rgb(230, 230, 230) !important;
    transition-duration: 350ms !important;
}

.button-login:active{
    background-color: rgb(100, 100, 100) !important;
}

.input-element-wrapper {
    display: flex;
}

#button-eye-icon {
    position: relative;
    border: none;
    background-color: transparent;
    left: -30px;
}

#input-password{
    min-width: 100% !important;
}


#eye-icon {
    position: relative;
    top: -3px;
    color: var(--eye-icon-color);
}

@media screen and (max-width: 320px) {
    .button-login {
        width: 30%;
        left: 70%;
    }
}